#blocks-container {
    width: 40%;
    height: 95%;
    background-color: rgb(156, 155, 155);
    display: grid;
    grid-gap: 0.5vh;
}
.partition {
    border-radius: 10px;
    background-color: rgb(233, 105, 105);
}