@import url(../fonts/Roboto-Regular.ttf);
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header, footer {
    height: 8vh;
    background-color: rgb(128, 42, 120);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(160, 55, 149);
    animation: background 20s ease-out infinite;
}
.main-elements {
    height: 95%;
}
#side-panel, #timer-container {
    width: 30%;
}
#side-panel, #timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}